body{
    background-color: rgb(255, 255, 255);
}
header{
    background-color: rgba(61, 248, 170, 0.507);
    display: flex;
    text-align: left;
    border-radius: 10px;
    width: 1907px;
}
.titulo {
    margin-bottom: 150px;
}
.accesos {
    margin-left: 50px;
    margin-right: 50px;
}
/*SEGUIR .ENLACES ponerlo en display flex*/
.hipervinculos li a {
    color: brown;
    text-decoration: dotted;
}
.hipervinculos{
    padding-left: 70px;
}
.contenidos {
    padding-left: 70px;
}
.bienvenida {
    padding-left: 55px;
    font-size: 20px
}
img {
    width: 450px;
    border-radius: 1000px;
    text-align: right;
    border-style: solid;
    margin-left: 1020px;
    margin-top: 10px;
}
h1 {
    text-align: center;
    font-size: 40px;
    
}
