body{
    background-color: aqua;
}
.hipervinculos li a {
    color: brown;
    text-decoration: dotted;
}
.hipervinculos{
    padding-left: 70px;
}
.contenidos {
    padding-left: 70px;
}
.bienvenida {
    padding-left: 55px;
    font-size: 20px
}
img {
    border-radius: 125px;
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
}
h1 {
    text-align: center;
}
.parrafo1{
    color: blueviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: small;
}