body{
    background-color: rgb(255, 255, 255);
}
header{
    background-color: rgba(61, 248, 170, 0.507);
    display: flex;
    text-align: left;
    border-radius: 10px;
    width: 1907px;
    height: 240px;
}
.titulo {
    margin-bottom: 10px;
}
.accesos {
    margin-left: 50px;
    margin-right: 50px;
    width: 1380px;
}
.enlaces{
    display: flex;
    align-items: center;
    
}
.hipervinculos li a {
    text-decoration: none;
    padding-left: 150px;
    color: black;
    font-size: 22px;
}
.hipervinculos{
    padding-left: 70px;
    display: flex;
    margin-top: 40px;
    list-style: none;
}
.contenidos {
    padding-left: 70px;
    
}
.bienvenida {
    padding-left: 55px;
    font-size: 20px
}
img {
    width: 320px;
    border-radius: 10px;
    margin-left: 90px;
    text-align: right;
    border-style: solid;
    margin-top: 10px;
}
.foto {
    width: 320px;
}
h1 {
    text-align: center;
    font-size: 40px;
    
}